<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/admin">Home</a></li>
               <li>
                   <a href="/admin/products">Products</a>
                   <ul>
                       <li><a href="/admin/products/add">Add product</a></li>
                       <li><a href="/admin/products/edit">Edit product</a></li>
                   </ul>
               </li>
              <li>
                <a href="/admin/orders">Orders</a>
                <ul>
                       <li><a href="/admin/orders/sended">Sended</a></li>
                       <li><a href="/admin/orders/notsended">Not sended</a></li>
                   </ul>
            </li>
              <li>
                <a href="/admin/users">Users</a>
                <ul>
                       <li><a href="/admin/users/add">Add user</a></li>
                       <li><a href="/admin/users/edit">Edit user</a></li>
                   </ul>
            </li>
            <li>
                <a href="#">Log out</a>
            </li>
         </ul>
   </nav>
</body>
</html>