<nav id="navbar" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Salester</a>
    <button class="navbar-toggler ms-right text-light border-light" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-evenly" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex w-100 me-auto mb-2 mb-lg-0">
        <li class="nav-item m-2">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown m-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kategorije
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/category/mens">Moški</a></li>
            <li><a class="dropdown-item" href="/category/womens">Ženske</a></li>
            <li><a class="dropdown-item" href="/category/jewerly">Nakit</a></li>
            <li><a class="dropdown-item" href="/category/kids">Otroci</a></li>
            <li><a class="dropdown-item" href="/category/baby">Baby</a></li>
            <li><a class="dropdown-item" href="/category/kids/subcategory/toys">Igrače</a></li>
            <li><a class="dropdown-item" href="/category/other">Drugo</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown m-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Moški
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/category/mens/subcategory/shirts">Majce</a></li>
            <li><a class="dropdown-item" href="/category/mens/subcategory/jackets">Jakne</a></li>
            <li><a class="dropdown-item" href="/category/mens/subcategory/pants">Hlače</a></li>
            <li><a class="dropdown-item" href="/category/mens/subcategory/underwear">Spodnje Perilo</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown m-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ženske
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/category/womens/subcategory/shirts">Majce</a></li>
            <li><a class="dropdown-item" href="/category/womens/subcategory/jackets">Jakne</a></li>
            <li><a class="dropdown-item" href="/category/womens/subcategory/pants">Hlače</a></li>
            <li><a class="dropdown-item" href="/category/womens/subcategory/underWear">Spodnje perilo</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown m-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nakit
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/category/jewerly/subcategory/chain">Verižica</a></li>
            <li><a class="dropdown-item" href="/category/jewerly/subcategory/bracelet">Zapestnica</a></li>
            <li><a class="dropdown-item" href="/category/jewerly/subcategory/clock">Ura</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown m-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Otroci
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/category/kids/subcategory/shirts">Majce</a></li>
            <li><a class="dropdown-item" href="/category/kids/subcategory/jackets">Jakne</a></li>
            <li><a class="dropdown-item" href="/category/kids/subcategory/pants">Hlače</a></li>
            <li><a class="dropdown-item" href="/category/kids/subcategory/underwear">Spodnje Perilo</a></li>
            <li><a class="dropdown-item" href="/category/kids/subcategory/toys">Igrače</a></li>
            <li><a class="dropdown-item" href="/category/baby">Baby</a></li>
          </ul>
        </li>
          <li class="nav-item ms-auto m-2">
            <a id="cartIcon" href="/cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-cart" viewBox="0 0 18 18">
                <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
              </svg>
              <% if(cart && cart.length > 0) {%>
              <div id="cartNotifications"><%= cart.length %></div>
              <% } %>
            </a>
          </li>
          <% if(!logedUser) {%>
            <li class="nav-item m-2">
              <a class="nav-link" href="/login">Prijava</a>
            </li>
            <li class="nav-item m-2">
              <a class="nav-link" href="/register">Registracija</a>
            </li>
            <% }else {%>
              <li class="nav-item m-2 ms-auto">
                <a class="nav-link" href="/logout">Odjava</a>
              </li>
              <% } %>
      </ul>
    </div>
  </div>
  <a id="smallCartIcon" href="/cart">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-cart" viewBox="0 0 18 18">
    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
  </svg>
  <% if(cart && cart.length > 0) {%>
  <div id="SmallCartNotifications"><%= cart.length %></div>
  <% } %>
  </a>
</nav>
<div id="searchBar" class="searchBar shadow m-0">

  <h4 id="postnina" class="btn d-inline-flex m-0 ms-auto me-auto"><strong>Brezplačna poštnina</strong></h4>
  <form class="d-flex p-2 ms-auto" action="/search" method="post">
    <input class="form-control border border-2 ms-auto me-right" id="searched" name="searched" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary text-light text-center" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg></button>
  </form>
  </div>
  <%= cart %>