#checkBoxes div > label{
    border: 2px solid black;
    width: 100%;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked + label{
    background-color: rgb(32, 32, 173);
    color: aliceblue;
}
