*, *::after, *::before{
    box-sizing: border-box;
    /*font-family: 'Karla', sans-serif;
    font-family: 'Dancing Script', cursive;*/
    font-family: 'Diphylleia', serif;

}
html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}
#navbar{
    position: fixed;
    background-color: #023e8a;
    color: white;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999999 !important;
}
#navbar ul{
    margin: 0;
    padding: 0;
    border: none;
}
#navbar ul > li {
    background-color: #023e8a;
    margin: 0;
    padding: 0;
    border: none;
}
#navbar ul > li > ul > li a:hover {
    background-color: #1a9ce7;
    border-radius: 25% 2% 25% 2%;
    -webkit-border-radius: 25% 2% 25% 2%;
    -moz-border-radius: 25% 2% 25% 2%;
    -ms-border-radius: 25% 2% 25% 2%;
    -o-border-radius: 25% 2% 25% 2%;
}
.navbar-brand, .navbar-collapse{
    color: white;
}

.custom-toggler,.navbar-toggler{
    color: white;
}

#navbar a{
    color: white !important;
    background-color: #023e8a;
}
#homeContainer{
    margin-top: 15vh;
    margin-bottom: 30vh;
}
#searchBar{
    display: inline-flex;
    flex-wrap: wrap;
    top: 70px;
    position: fixed;
    z-index: 99999998;
    padding: 1px;
    background-color: #e5e5e5;
    width: 100%;
    margin-bottom: 100vh;
}
#postnina{
    width: fit-content;
    top:70px;
    background-color: darkblue;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    box-shadow: 0px 0px 5px darkblue, 0px 0px 25px darkblue, 0px 0px 50px darkblue, 0px 0px 100px darkblue;
    border-radius: 10px;
}
#postnina:hover{
    background-color: darkblue;
    color: white;
    box-shadow: 0px 0px 5px darkblue, 0px 0px 25px darkblue, 0px 0px 50px darkblue, 0px 0px 100px darkblue;
  }
#footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #023e8a;
    color: white;
}
#footer a {
    background-color: transparent;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color:inherit;
}
#searched{
    width: 25%;
}



@media(max-width: 3000px){
    #searchBar form{
        width: 25%;
        margin-left: auto;
    }
    #searched{
        width: 100%;
    }
}

@media(max-width: 1200px){
    #searchBar form{
        width: 50%;
        margin-left: auto;
    }
    #searched{
        width: 100%;
    }
}

@media(max-width:990px){
    #searchBar{
        top: 55px;
    }
}


@media(max-width: 600px){
    #searchBar{
        top: 55px;
        position: fixed;
        z-index: 99999999;
        padding: 1px;
        width: 100%;
        margin-bottom: 100vh;
    }
    #searchBar form{
        width: 100%;
    }
    #searched{
        width: 100%;
    }
}

