*, *::after, *::before{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}
#navbar{
    position: fixed;
    background-color: #023e8a;
    color: white;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999999 !important;
}
.navbar-brand, .navbar-collapse{
    color: white;
}

.custom-toggler,.navbar-toggler{
    color: white;
}

#navbar a{
    color: white !important;
}
#homeContainer{
    margin-top: 15vh;
    margin-bottom: 30vh;
}
#searchBar{
    display: inline-flex;
    top: 70px;
    position: fixed;
    z-index: 99999998;
    padding: 1px;
    background-color: #e5e5e5;
    width: 100%;
    margin-bottom: 100vh;
}
#footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #023e8a;
    color: white;
}
#footer a {
    background-color: transparent;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color:none;
}
#searched{
    width: 25%;
}



@media(max-width: 3000px){
    #searchBar form{
        width: 25%;
        margin-left: auto;
    }
    #searched{
        width: 100%;
    }
}

@media(max-width: 1200px){
    #searchBar form{
        width: 50%;
        margin-left: auto;
    }
    #searched{
        width: 100%;
    }
}

@media(max-width:990px){
    #searchBar{
        top: 55px;
    }
}


@media(max-width: 600px){
    #searchBar{
        top: 55px;
        position: fixed;
        z-index: 99999999;
        padding: 1px;
        width: 100%;
        margin-bottom: 100vh;
    }
    #searchBar form{
        width: 100%;
    }
    #searched{
        width: 100%;
    }
}

