html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#imgSize{
    transition: all 0.3s ease-in-out;
}

#imgSize:hover{
    transform: scale(1.1);
}
#body {
    box-sizing: border-box;
    height: 4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}



@media(max-width: 3000px){
    #imgSize{
        width: 22rem;
        height: 28rem;
    }
}

@media(max-width: 800px){
    #imgSize{
        width: 20rem;
        height: 16rem;
    }
}