*, *::after, *::before{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


#rowColumn{
    margin-bottom:  20vh;
}

.card{
    transition: all 0.3s ease-in-out;
    border: none;
    background-color: white;
    margin:0;
}

#imgSize{
    width: 500px;
    height: 300px;
    object-fit:contain;
    object-position: center;
}

.card:hover{
    transform: scale(1.1);
    border: 2px solid rgba(0, 255, 255, 0.303);
}
#cardBody {
    box-sizing: border-box;
    height: 5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    background-color: transparent;
}

#cardHeaderHome{
    height: 300px;
    width: auto;
    background-size: cover;
    background-position: center;
}

a{
    text-decoration: none;
    color: black;
}

#searched{
    width: 25%;
}


@media(max-width: 3000px){
    
    
}

@media(max-width: 1200px){
    #searched{
        width: 50%;
    }
  
}


@media(max-width: 600px){
    #searched{
        width: 100%;
    }
    
}

@media(max-width: 360px){
    
    #rowColumn{
        display: flex;
        flex-direction: column;
    }
    #colRow{
        width: 100%;
    }
   
    #searched{
        width: 100%;
    }
}