*, *::after, *::before{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


#rowColumn{
    margin-bottom:  20vh;
}

.card{
    border: 1px black solid;
    background-color: white;
    margin:0px;
    height: 100%;
    max-height: 350px;
    width: 16rem;
}



.card:hover{
    box-sizing: border-box;
    border: 1px solid rgba(0, 255, 255, 0.303);
}
#cardBody {
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    background-color: transparent;
}

#cardHeaderHome{
    width: 100%;
    max-width: 250px;
    height: 200px;
    background-size: cover;
    background-position: center;

}

a{
    display: inline-flex;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}
#searched{
    width: 25%;
}


@media(max-width: 3000px){
    
    
}

@media(max-width: 1200px){
    #searched{
        width: 50%;
    }
  
}


@media(max-width: 600px){
    #searched{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    #container{
        display: flex;
        max-width: 100% !important;
    }
    #rowColumn{
        display: flex;
        max-width: 100%;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
    #colRow{
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }
}

@media(max-width: 360px){
    .container{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    #container{
        display: flex;
        max-width: 100% !important;
    }
    #rowColumn{
        display: flex;
        max-width: 100%;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    #colRow{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    #searched{
        width: 100%;
    }
}