#homeContainer{
  padding: 0;
}
#cart{
    box-sizing: border-box;
}
.card{
    transition: none !important;
    border: none;
}

.card:hover{
    transform: none !important;
}

#myCart{
    min-height: 10vh;
    height: auto;
    margin-bottom: 15vh;
}
#cartCard{
  background-color: #ebe9e8;
}

.card-body{
  align-self: center;

}

.remove{
  background-color: #ebe9e8;
  color: red;
}
#wrapper {
    margin-top: 30vh;
    margin-bottom: 30vh;
    width: 100%;
    max-width: 764px;
    position: relative;
    perspective: 1400px;
  }
  
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content {
    display: grid;
    grid-gap: 5px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
  
  .item, #cartLink {
    width: 200px;
    height: 200px;
  }
  

  @media(max-width: 992px){
    #cartCard{
      max-width: 100px;
      margin-left: auto;
      margin-right: auto;
    }

}


  @media(max-width: 560px){
    .item, #cartLink {
      width: 170px;
      height: 170px;
    }
}