#cart{
    box-sizing: border-box;
}
.card{
    transition: none !important;
    border: none;
}

.card:hover{
    transform: none !important;
}

#myCart{
    min-height: 10vh;
    height: auto;
    margin-bottom: 5px;
}