html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(60%);
}
.color {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
  }
  .selected{
    background-color: #00fff2;
  }
  .size{
    border: 1px solid black;
    cursor: pointer;
    height: 45px;
    text-align: center;
    display: grid;
  place-items: center;
  align-content: center;

}
#sizeSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 10px;
}

.size:hover,
.barva li:hover {
    background-color: rgb(139, 219, 92);
}

.size:focus {
    background-color: green;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

li {
    text-decoration: none;
    cursor: pointer;
}

li>input {
    cursor: pointer;
}



#selectField {
    display: flex;
    list-style: none;
}