html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#main-row{
    margin-bottom: 20vh;
}
#col1{
    width: 35%;
}

.img-fluid{
    max-width: 100%;
    max-height: auto;
    position: relative;
    vertical-align: middle;
    height: 400px;
    width: 400px;
    object-fit:cover;
}

#col2{
    width: 65%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(60%);
}
.color {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
  }
  .selected{
    background-color: #e0e0e0;
    box-sizing: border-box;
    border-radius: 50%;
  }
  .size{
    border: 1px solid black;
    cursor: pointer;
    height: 45px;
    text-align: center;
    display: grid;
    place-items: center;
    align-content: center;
}

#sizeSection {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    gap: 10px;
}

.size:hover,
.barva li:hover {
    background-color: rgb(190, 194, 187);
}

.size:focus {
    background-color: green;
}

#next-row{
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(55, 55, 207);
    height: auto;
    width: 100%;
    margin-top: 50vh;
    margin-bottom: 10vh;
    left: 0;
    justify-content: center;
}

#picture{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    /*min-height: 400px; */
    max-width:100%;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#picture > img{
    height: 250px; 
    width:250px;
    max-width:100%;
    max-height:100%;
    margin-right: 10px; 
    object-fit:cover; 
    border: 1px solid black;
    object-position: center;
    justify-content: center;
    margin: 15px;
}

#other-row{
    height: 50vh;
    margin-top: 20vh;
    margin-bottom: 10vh;
    background-color: azure;
}

#footer{
    margin-top: 15vh;
}

#selectField {
    display: flex;
    list-style: none;
}

@media screen and (max-width: 1000px) {
    .container{
        max-width: 100%;
    }
   
    #picture{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*min-height: 400px; */
        max-width:100%;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    
    #picture > img{
        /*height: 400px; 
        width:400px;*/ 
        /*min-height: 400px; */
        width:200px;
        height:200px;
        max-width:100%;
        max-height:100%;
        margin-right: 10px; 
        object-fit:cover; 
        border: 1px solid black;
        object-position: center;
        justify-content: center;
        margin: 15px;
    }
}
@media screen and (max-width: 650px) {
    .container{
        max-width: 100%;
    }
    #main-row{
        margin-bottom: 20vh;
        display: flex;
        flex-direction: column;
    }
    #col1{
        width: 100%;
    }
    #col2{
        width: 100%;
    }
    #picture{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*min-height: 400px; */
        max-width:100%;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    
    #picture > img{
        /*height: 400px; 
        width:400px;*/ 
        /*min-height: 400px; */
        width:200px;
        height:200px;
        max-width:100%;
        max-height:100%;
        margin-right: 10px; 
        object-fit:cover; 
        border: 1px solid black;
        object-position: center;
        justify-content: center;
        margin: 15px;
    }
}