html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(60%);
}
.color {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
    padding: 2px;
  }
  
.size {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.barva {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    row-gap: 5px;
    padding: 2px;
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}



.grid-container .grid-item:hover,
.barva li:hover {
    background-color: rgb(139, 219, 92);
}

.grid-container li:focus,
.barva li:focus {
    background-color: green;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

li {
    text-decoration: none;
    cursor: pointer;
}

li>input {
    cursor: pointer;
}



#selectField {
    display: flex;
    list-style: none;
}