<% layout('layouts/boilerplate') %>
<div class="cena text-center">
    <h1>Izračun cene</h1>

    <h2>Upisana cena * 18% (ddv) + 0.99 + upisana cena = Prodajna cena</h2>
    <h3>Primer</h3>
    <p>20 * 0.18 + 0.99</p>
    <p class="bg-danger text-light">Opozorilo! Rezultat od "upisane cena * ddv" zaokruzuje na večjo številko!</p>
    <p>4 + 0.99 + 20 = 24.99 €</p>
</div>

    <form class="validated-form mt-5" action="/addProduct" method="post" enctype="multipart/form-data" novalidate>

        <div class="row mt-4 mb-2 g-0">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="p_name" name="p_name" placeholder="name" required>
                    <label for="p_name">Product name</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex flex-column flex-md-row mb-2">
            <div class="col mt-2">
                <div class="input-group">
                    <div class="form-floating">
                        <select class="form-select" id="p_cat" name="p_cat" aria-label="Floating label select example"
                            onchange="subSelected()">
                            <option selected>Select Category</option>
                            <option value="Mens">Moški</option>
                            <option value="Womens">Ženske</option>
                            <option value="Kids">Otroci</option>
                            <option value="Other">Ostalo</option>
                            <option class="btn btn-sm btn-primary" id="newCat" value="NewCat">New Category</option>
                        </select>
                        <label for="p_cat"></label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mt-2">
                <div class="input-group">
                    <div class="form-floating">
                        <select class="form-select" id="p_subcat" name="p_subcat"
                            aria-label="Floating label select example" onchange="subSelected()">
                            <option selected>Select Subcategory</option>
                            <option value="Jackets">Jakne</option>
                            <option value="Shirts">Majce</option>
                            <option value="Dress">Obleka</option>
                            <option value="Pants">Hlače</option>
                            <option value="Underwear">Spodnje perilo</option>
                            <option value="Shoes">Obutev</option>
                            <option value="Toys">Igrače</option>
                            <option value="Jewerly">Nakit</option>
                            <option class="btn btn-sm btn-primary" id="new" value="New">New</option>
                        </select>
                        <label for="p_subcat"></label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

            </div>
        </div>
        

        <!-- KIDS -->
        <div id="kidsClothes" class="">
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_56">56</label>
                <input type="number" id="num_56" name="size1" placeholder="velikost" value="56" readonly style="display: none;">
                <label for="#56"></label>
                <input type="number" id="#56" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_62">62</label>
                <input type="number" id="num_62" name="size1" placeholder="velikost" value="62" readonly style="display: none;">
                <label for="#62"></label>
                <input type="number" id="#62" name="qty1" placeholder="0" value="0" style="display: inline-flex;">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_68">68</label>
                <input type="number" id="num_68" name="size1" placeholder="velikost" value="68" readonly style="display: none;">
                <label for="#68"></label>
                <input type="number" id="#68" name="qty1" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_74">74</label>
                <input type="number" id="num_74" name="size1" placeholder="velikost" value="74" readonly style="display: none;">
                <label for="#74"></label>
                <input type="number" id="#74" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_86">86</label>
                <input type="number" id="num_86" name="size1" placeholder="velikost" value="86" readonly style="display: none;">
                <label for="#86"></label>
                <input type="number" id="#86" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_92">92</label>
                <input type="number" id="num_92" name="size1" placeholder="velikost" value="92" readonly style="display: none;">
                <label for="#92"></label>
                <input type="number" id="#92" name="qty1" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_104">104</label>
                <input type="number" id="num_104" name="size1" placeholder="velikost" value="104" readonly style="display: none;">
                <label for="#104"></label>
                <input type="number" id="#104" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_104-116">104-116</label>
                <input type="text" id="num_104-116" name="size1" placeholder="velikost" value="104-116" readonly style="display: none;">
                <label for="#104-116"></label>
                <input type="number" id="#104-116" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_110">110</label>
                <input type="number" id="num_110" name="size1" placeholder="velikost" value="110" readonly style="display: none;">
                <label for="#110"></label>
                <input type="number" id="#110" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_116">116</label>
                <input type="number" id="num_116" name="size1" placeholder="velikost" value="116" readonly style="display: none;">
                <label for="#116"></label>
                <input type="number" id="#116" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_128">128</label>
                <input type="number" id="num_128" name="size1" placeholder="velikost" value="128" readonly style="display: none;">
                <label for="#128"></label>
                <input type="number" id="#128" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_134">134</label>
                <input type="number" id="num_134" name="size1" placeholder="velikost" value="134" readonly style="display: none;">
                <label for="#134"></label>
                <input type="number" id="#134" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_140">140</label>
                <input type="number" id="num_140" name="size1" placeholder="velikost" value="140" readonly style="display: none;">
                <label for="#140"></label>
                <input type="number" id="#140" name="qty1" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_146">146</label>
                <input type="number" id="num_146" name="size1" placeholder="velikost" value="146" readonly style="display: none;">
                <label for="#146"></label>
                <input type="number" id="#146" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_152">152</label>
                <input type="number" id="num_152" name="size1" placeholder="velikost" value="152" readonly style="display: none;">
                <label for="#152"></label>
                <input type="number" id="#152" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_158">158</label>
                <input type="number" id="num_158" name="size1" placeholder="velikost" value="158" readonly style="display: none;">
                <label for="#158"></label>
                <input type="number" id="#158" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_164">164</label>
                <input type="number" id="num_164" name="size1" placeholder="velikost" value="164" readonly style="display: none;">
                <label for="#164"></label>
                <input type="number" id="#164" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_170">170</label>
                <input type="number" id="num_170" name="size1" placeholder="velikost" value="170" readonly style="display: none;">
                <label for="#170"></label>
                <input type="number" id="#170" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_176">176</label>
                <input type="number" id="num_176" name="size1" placeholder="velikost" value="176" readonly style="display: none;">
                <label for="#176"></label>
                <input type="number" id="#176" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="color">color</label>
                <input type="text" id="color" name="color[]" placeholder="Barva" value="" required>
            </div>
            <div class="row row-cols-md-2 row-cols-lg-2 d-flex flex-column flex-wrap">
                <div class="col">
                <div class="input-group-sm">
                    <label for="imgField" class="form-label custom-file-label"></label>
                    <input class="form-control text-primary" type="file" id="imgField" name="image1" multiple required>
                    <div class="invalid-feedback">
                        Looks good!
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="btn btn-primary mt-3" onclick="addRow()">Add row</div>
                </div>
            </div>
        </div>
        
<!--/////////////////////////////////////////////////////////////////////////////////////////////-->
        <div id="kidsShoes" class="">
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_18">18</label>
                <input type="number" id="num_18" name="size1" placeholder="velikost" value="18" readonly style="display: none;">
                <label for="#18"></label>
                <input type="number" id="#18" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_19">19</label>
                <input type="number" id="num_19" name="size1" placeholder="velikost" value="19" readonly style="display: none;">
                <label for="#19"></label>
                <input type="number" id="#19" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_20">20</label>
                <input type="number" id="num_20" name="size1" placeholder="velikost" value="20" readonly style="display: none;">
                <label for="#20"></label>
                <input type="number" id="#20" name="qty1" placeholder="0" value="0" style="display: inline-flex;">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_21">21</label>
                <input type="number" id="num_21" name="size1" placeholder="velikost" value="21" readonly style="display: none;">
                <label for="#21"></label>
                <input type="number" id="#21" name="qty1" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_22">22</label>
                <input type="number" id="num_22" name="size1" placeholder="velikost" value="22" readonly style="display: none;">
                <label for="#22"></label>
                <input type="number" id="#22" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_23">23</label>
                <input type="number" id="num_23" name="size1" placeholder="velikost" value="23" readonly style="display: none;">
                <label for="#23"></label>
                <input type="number" id="#23" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_24">24</label>
                <input type="number" id="num_24" name="size1" placeholder="velikost" value="24" readonly style="display: none;">
                <label for="#24"></label>
                <input type="number" id="#24" name="qty1" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_25">25</label>
                <input type="number" id="num_25" name="size1" placeholder="velikost" value="25" readonly style="display: none;">
                <label for="#25"></label>
                <input type="number" id="#25" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_26">26</label>
                <input type="text" id="num_26" name="size1" placeholder="velikost" value="26" readonly style="display: none;">
                <label for="#26"></label>
                <input type="number" id="#26" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_27">27</label>
                <input type="number" id="num_27" name="size1" placeholder="velikost" value="27" readonly style="display: none;">
                <label for="#27"></label>
                <input type="number" id="#27" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_28">28</label>
                <input type="number" id="num_28" name="size1" placeholder="velikost" value="28" readonly style="display: none;">
                <label for="#28"></label>
                <input type="number" id="#28" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_29">29</label>
                <input type="number" id="num_29" name="size1" placeholder="velikost" value="29" readonly style="display: none;">
                <label for="#29"></label>
                <input type="number" id="#29" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_30">30</label>
                <input type="number" id="num_30" name="size1" placeholder="velikost" value="30" readonly style="display: none;">
                <label for="#30"></label>
                <input type="number" id="#30" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_31">31</label>
                <input type="number" id="num_31" name="size1" placeholder="velikost" value="31" readonly style="display: none;">
                <label for="#31"></label>
                <input type="number" id="#31" name="qty1" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_32">32</label>
                <input type="number" id="num_32" name="size1" placeholder="velikost" value="32" readonly style="display: none;">
                <label for="#32"></label>
                <input type="number" id="#32" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_33">33</label>
                <input type="number" id="num_33" name="size1" placeholder="velikost" value="33" readonly style="display: none;">
                <label for="#33"></label>
                <input type="number" id="#33" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_34">34</label>
                <input type="number" id="num_34" name="size1" placeholder="velikost" value="34" readonly style="display: none;">
                <label for="#34"></label>
                <input type="number" id="#34" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_35">35</label>
                <input type="number" id="num_35" name="size1" placeholder="velikost" value="35" readonly style="display: none;">
                <label for="#35"></label>
                <input type="number" id="#35" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_36">36</label>
                <input type="number" id="num_36" name="size1" placeholder="velikost" value="36" readonly style="display: none;">
                <label for="#36"></label>
                <input type="number" id="#36" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_37">37</label>
                <input type="number" id="num_37" name="size1" placeholder="velikost" value="37" readonly style="display: none;">
                <label for="#37"></label>
                <input type="number" id="#37" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="color">color</label>
                <input type="text" id="color" name="color[]" placeholder="Barva" value="" required>
            </div>
            <div class="col-7">
                <div class="input-group-sm">
                    <label for="imgField" class="form-label custom-file-label"></label>
                    <input class="form-control text-primary" type="file" id="imgField" name="image1" multiple required>
                    <div class="invalid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="btn btn-primary mt-3" onclick="addRow()">Add row</div>
            </div>
       
       
        </div>


        <!-- ADULT -->

        <div id="adultClothes" class="">
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_xs">XS</label>
                <input type="text" id="num_xs" name="size1" placeholder="velikost" value="XS" readonly style="display: none;">
                <label for="#xs"></label>
                <input type="number" id="#xs" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_s">S</label>
                <input type="text" id="num_s" name="size1" placeholder="velikost" value="S" readonly style="display: none;">
                <label for="#s"></label>
                <input type="number" id="#s" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_M">M</label>
                <input type="text" id="num_M" name="size1" placeholder="velikost" value="M" readonly style="display: none;">
                <label for="#M"></label>
                <input type="number" id="#M" name="qty1" placeholder="0" value="0" style="display: inline-flex;">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_L">L</label>
                <input type="text" id="num_L" name="size1" placeholder="velikost" value="L" readonly style="display: none;">
                <label for="#L"></label>
                <input type="number" id="#L" name="qty1" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_XL">XL</label>
                <input type="text" id="num_XL" name="size1" placeholder="velikost" value="XL" readonly style="display: none;">
                <label for="#XL"></label>
                <input type="number" id="#XL" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_2XL">2XL</label>
                <input type="text" id="num_2XL" name="size1" placeholder="velikost" value="2XL" readonly style="display: none;">
                <label for="#2XL"></label>
                <input type="number" id="#2XL" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_3XL">3XL</label>
                <input type="text" id="num_3XL" name="size1" placeholder="velikost" value="3XL" readonly style="display: none;">
                <label for="#3XL"></label>
                <input type="number" id="#3XL" name="qty1" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_4XL">4XL</label>
                <input type="text" id="num_4XL" name="size1" placeholder="velikost" value="4XL" readonly style="display: none;">
                <label for="#4XL"></label>
                <input type="text" id="#4XL" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_5XL">5XL</label>
                <input type="text" id="num_5XL" name="size1" placeholder="velikost" value="5XL" readonly style="display: none;">
                <label for="#5XL"></label>
                <input type="number" id="#5XL" class="text-center" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="color">color</label>
                <input type="text" id="color" name="color[]" placeholder="Barva" required>
            </div>
            <div class="col-8 mb-2">
                <div class="input-group-sm">
                    <label for="formFileMultiple" class="form-label custom-file-label"></label>
                    <input class="form-control text-primary" type="file" id="formFileMultiple" name="image1" multiple required>
                    <div class="invalid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="btn btn-primary mt-3" onclick="addRow()">Add row</div>
            </div>
        </div>
        <div id="adultShoes" class="">
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_38">38</label>
                <input type="number" id="num_38" name="size1" placeholder="velikost" value="38" readonly style="display: none;">
                <label for="#38"></label>
                <input type="number" id="#38" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_39">39</label>
                <input type="number" id="num_39" name="size1" placeholder="velikost" value="39" readonly style="display: none;">
                <label for="#39"></label>
                <input type="number" id="#39" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_40">40</label>
                <input type="number" id="num_40" name="size1" placeholder="velikost" value="40" readonly style="display: none;">
                <label for="#40"></label>
                <input type="number" id="#40" name="qty1" placeholder="0" value="0" style="display: inline-flex;">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_41">41</label>
                <input type="number" id="num_41" name="size1" placeholder="velikost" value="41" readonly style="display: none;">
                <label for="#41"></label>
                <input type="number" id="#41" name="qty1" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_42">42</label>
                <input type="number" id="num_42" name="size1" placeholder="velikost" value="42" readonly style="display: none;">
                <label for="#42"></label>
                <input type="number" id="#42" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_43">43</label>
                <input type="number" id="num_43" name="size1" placeholder="velikost" value="43" readonly style="display: none;">
                <label for="#43"></label>
                <input type="number" id="#43" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_44">44</label>
                <input type="number" id="num_44" name="size1" placeholder="velikost" value="44" readonly style="display: none;">
                <label for="#44"></label>
                <input type="number" id="#44" name="qty1" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_45">45</label>
                <input type="number" id="num_45" name="size1" placeholder="velikost" value="45" readonly style="display: none;">
                <label for="#45"></label>
                <input type="number" id="#45" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_46">46</label>
                <input type="text" id="num_46" name="size1" placeholder="velikost" value="46" readonly style="display: none;">
                <label for="#46"></label>
                <input type="number" id="#46" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="color">color</label>
                <input type="text" id="color" name="color[]" placeholder="Barva" required>
            </div>
            <div class="col-7">
                <div class="input-group-sm">
                    <label for="formFileMultiple" class="form-label custom-file-label"></label>
                    <input class="form-control text-primary" type="file" id="formFileMultiple" name="image1" multiple required>
                    <div class="invalid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="btn btn-primary mt-3" onclick="addRow()">Add row</div>
            </div>
        </div>
        <div id="addRow" class="mb-4"></div>

        <div class="row d-flex flex-column flex-md-row mb-2">
            <div class="col mt-2">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="This customer see" id="p_desc" name="p_desc"
                        required></textarea>
                    <label for="p_desc">Description</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="col mt-2">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="This customer see when open product info"
                        id="p_fulldescription" name="p_fulldescription" required></textarea>
                    <label for="p_fulldescription">Full description</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-md-4">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="p_price" name="p_price" placeholder="29,99 €" required>
                <label for="p_price">Neto cena</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="col" id="imgForToys">
            <div class="input-group-sm">
                <label for="formFileMultiple" class="form-label custom-file-label"></label>
                <input class="form-control text-primary" type="file" id="formFileMultiple" name="image1" multiple required>
                <div class="invalid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div id="colorForToys" class="col d-flex flex-column">
            <input type="text" class="form-control m- p-3" id="color" name="color[]" placeholder="Barva" value="" required>
        </div>
        <div id="qtyForToys" class="col d-flex flex-column">
            <input type="text" class="form-control m- p-3" id="qty1" name="qty1" placeholder="Količina" value="" required>
        </div>
        </div>
        </div>

        <div class="footer text-center mt-5 mb-5">
            <button class="btn btn-primary">Submit</button>
        </div>

    </form>


    <script>

        //document.getElementById("kidsClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center');
        document.getElementById("kidsClothes").style.display = "none";
        //document.getElementById("kidsShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center');
        document.getElementById("kidsShoes").style.display = "none";
        //document.getElementById("adultClothes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center');
        document.getElementById("adultClothes").style.display = "none";
        //document.getElementById("adultShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center');
        document.getElementById("adultShoes").style.display = "none";
        let toysField = document.getElementById("imgForToys");
        let colorForToys = document.getElementById("colorForToys");
        let qtyForToys = document.getElementById("qtyForToys");
        toysField.style.display = "none";
        colorForToys.style.display = "none";
        qtyForToys.style.display = "none";
        qtyForToys.classList.remove('col', 'd-flex', 'flex-column')
        colorForToys.classList.remove('col', 'd-flex', 'flex-column')

        let infoKidsClothes = document.getElementById("kidsClothes").getElementsByTagName('input')
        let infoKidsShoes = document.getElementById("kidsShoes").getElementsByTagName('input')
        let infoAdultClothes = document.getElementById("adultClothes").getElementsByTagName('input')
        let infoAdultShoes = document.getElementById("adultShoes").getElementsByTagName('input')
        
        category = "";
        subCategory = "";

        function subSelected() {
            category = document.getElementById("p_cat").value;
            subCategory = document.getElementById("p_subcat").value;
            if (category == 'Mens' || category == 'Womens') {
                document.getElementById("kidsClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                document.getElementById("kidsClothes").style.display = "none";
                document.getElementById("kidsShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                document.getElementById("kidsShoes").style.display = "none";
                document.getElementById('newCat').value = "NewCat";
                document.getElementById('newCat').text = "NewCat";
                document.getElementById('new').value = "New";
                document.getElementById('new').text = "New";
                toysField.style.display = "none";
                colorForToys.style.display = "none";
                qtyForToys.style.display = "none";
                qtyForToys.classList.remove('col', 'd-flex', 'flex-column')
                colorForToys.classList.remove('col', 'd-flex', 'flex-column')
                for (let i = 0; i < infoKidsClothes.length; i++) {
                    infoKidsClothes[i].setAttribute('disabled', 'disabled');
                }
                for (let i = 0; i < infoKidsShoes.length; i++) {
                    infoKidsShoes[i].setAttribute('disabled', 'disabled');
                }

                if (subCategory !== 'Select Subcategory' && subCategory !== 'Shoes' && subCategory !== 'Toys' && subCategory !== 'Jewerly') {
                    console.log("subCategory selected", subCategory)
                    document.getElementById("adultClothes").classList.add('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("adultClothes").style.display = "flex";
                    document.getElementById("adultShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("adultShoes").style.display = "none";
                    document.getElementById("imgForToys").style.display = "none";
                    toysField.style.display = "none";
                    colorForToys.style.display = "none";
        qtyForToys.style.display = "none";
        qtyForToys.classList.remove('col', 'd-flex', 'flex-column')
                    colorForToys.classList.remove('col', 'd-flex', 'flex-column')
                    for (let i = 0; i < infoAdultShoes.length; i++) {
                        infoAdultShoes[i].setAttribute('disabled', 'disabled');
                    }
                    for (let i = 0; i < infoKidsShoes.length; i++) {
                        infoKidsShoes[i].setAttribute('disabled', 'disabled');
                    }
                    for (let i = 0; i < infoAdultClothes.length; i++) {
                        infoAdultClothes[i].removeAttribute('disabled');
                    }
                }
                if (subCategory == 'Shoes') {
                    document.getElementById("adultClothes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("adultClothes").style.display = "none";
                    document.getElementById("adultShoes").classList.add('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("adultShoes").style.display = "flex";
                    toysField.style.display = "none";
                    colorForToys.style.display = "none";
        qtyForToys.style.display = "none";
        qtyForToys.classList.remove('col', 'd-flex', 'flex-column')
                    colorForToys.classList.remove('col', 'd-flex', 'flex-column')
                    for (let i = 0; i < infoAdultClothes.length; i++) {
                        infoAdultClothes[i].setAttribute('disabled', 'disabled');
                    }
                    for (let i = 0; i < infoAdultShoes.length; i++) {
                        infoAdultShoes[i].removeAttribute('disabled');
                    }
                }
                if (subCategory == 'Jewerly' || subCategory == 'Toys'){
                    document.getElementById("adultClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("adultClothes").style.display = "none";
                    document.getElementById("adultShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("adultShoes").style.display = "none";
                    document.getElementById("kidsClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("kidsClothes").style.display = "none";
                    document.getElementById("kidsShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("kidsShoes").style.display = "none";
                    document.getElementById('newCat').value = "NewCat";
                    document.getElementById('newCat').text = "NewCat";
                    document.getElementById('new').value = "New";
                    document.getElementById('new').text = "New";
                    toysField.style.display = "flex";
                    colorForToys.style.display = "flex";
                    qtyForToys.style.display = "flex";
                    qtyForToys.classList.add('col', 'd-flex', 'flex-column')
                    colorForToys.classList.add('col', 'd-flex', 'flex-column')
                }
            }

            if (category == 'Kids') {
                document.getElementById("adultClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                document.getElementById("adultClothes").style.display = "none";
                document.getElementById("adultShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                document.getElementById("adultShoes").style.display = "none";
                document.getElementById('newCat').value = "NewCat";
                document.getElementById('newCat').text = "NewCat";
                document.getElementById('new').value = "New";
                document.getElementById('new').text = "New";
                toysField.style.display = "none";
                colorForToys.style.display = "none";
        qtyForToys.style.display = "none";
        qtyForToys.classList.remove('col', 'd-flex', 'flex-column')
                colorForToys.classList.remove('col', 'd-flex', 'flex-column')
                for (let i = 0; i < infoAdultClothes.length; i++) {
                    infoAdultClothes[i].setAttribute('disabled', 'disabled');
                }

                for (let i = 0; i < infoAdultShoes.length; i++) {
                    infoAdultShoes[i].setAttribute('disabled', 'disabled');
                }

                if (subCategory == 'Jackets' || subCategory == 'Shirts' || subCategory == 'Pants' || subCategory == 'Underwear' || subCategory == 'Dress') {
                    document.getElementById("kidsClothes").classList.add('row', 'row-cols-md-3','row-cols-lg-6', 'd-flex', 'flex-wrap', 'mt-4', 'mb-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("kidsClothes").style.display = "flex";
                    document.getElementById("kidsShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("kidsShoes").style.display = "none";
                    document.getElementById("imgForToys").style.display = "none";
                    toysField.style.display = "none";
                    colorForToys.style.display = "none";
        qtyForToys.style.display = "none";
        qtyForToys.classList.remove('col', 'd-flex', 'flex-column')
                    colorForToys.classList.remove('col', 'd-flex', 'flex-column')
                    for (let i = 0; i < infoKidsShoes.length; i++) {
                        infoKidsShoes[i].setAttribute('disabled', 'disabled');
                    }
                    for (let i = 0; i < infoKidsClothes.length; i++) {
                        infoKidsClothes[i].removeAttribute('disabled');
                    }
                }

                if (subCategory == 'Shoes') {
                    document.getElementById("kidsClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("kidsClothes").style.display = "none";
                    document.getElementById("kidsShoes").classList.add('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("kidsShoes").style.display = "flex";
                    document.getElementById("imgForToys").style.display = "none";
                    toysField.style.display = "none";
                    colorForToys.style.display = "none";
        qtyForToys.style.display = "none";
        qtyForToys.classList.remove('col', 'd-flex', 'flex-column')
                    colorForToys.classList.remove('col', 'd-flex', 'flex-column')
                    for (let i = 0; i < infoKidsClothes.length; i++) {
                        infoKidsClothes[i].setAttribute('disabled', 'disabled');
                    }
                    for (let i = 0; i < infoKidsShoes.length; i++) {
                        infoKidsShoes[i].removeAttribute('disabled');
                    }
                }
                if(subCategory == 'Toys' || subCategory == 'Jewerly' || subCategory == 'Other'){
                    toysField.style.display = "flex";
                    colorForToys.style.display = "flex";
                    qtyForToys.style.display = "flex";
                    qtyForToys.classList.add('col', 'd-flex', 'flex-column')
                    colorForToys.classList.add('col', 'd-flex', 'flex-column')
                    document.getElementById("adultClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("adultClothes").style.display = "none";
                    document.getElementById("adultShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("adultShoes").style.display = "none";
                    document.getElementById("kidsClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("kidsClothes").style.display = "none";
                    document.getElementById("kidsShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("kidsShoes").style.display = "none";
                    document.getElementById('newCat').value = "NewCat";
                    document.getElementById('newCat').text = "NewCat";
                    document.getElementById('new').value = "New";
                    document.getElementById('new').text = "New";
                } 
                /*
                if (subCategory == 'Jewerly'){
                    document.getElementById("adultClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("adultClothes").style.display = "none";
                    document.getElementById("adultShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("adultShoes").style.display = "none";
                    document.getElementById("kidsClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("kidsClothes").style.display = "none";
                    document.getElementById("kidsShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                    document.getElementById("kidsShoes").style.display = "none";
                    document.getElementById('newCat').value = "NewCat";
                    document.getElementById('newCat').text = "NewCat";
                    document.getElementById('new').value = "New";
                    document.getElementById('new').text = "New";
                    toysField.style.display = "flex";
                }
            */
            }   
            /*
            if(category == 'Other'){
                document.getElementById("adultClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("adultClothes").style.display = "none";
                document.getElementById("adultShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("adultShoes").style.display = "none";
                document.getElementById("kidsClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("kidsClothes").style.display = "none";
                document.getElementById("kidsShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("kidsShoes").style.display = "none";
                document.getElementById('newCat').value = "NewCat";
                document.getElementById('newCat').text = "NewCat";
                document.getElementById('new').value = "New";
                document.getElementById('new').text = "New";
                toysField.style.display = "flex";
                document.getElementById('newCat').value = "NewCat";
                document.getElementById('newCat').text = "NewCat";
                document.getElementById('new').value = "New";
                document.getElementById('new').text = "New";
            }
            */
            if(category == 'NewCat' || category == 'null'){
                document.getElementById("adultClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("adultClothes").style.display = "none";
                document.getElementById("adultShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("adultShoes").style.display = "none";
                document.getElementById("kidsClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("kidsClothes").style.display = "none";
                document.getElementById("kidsShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("kidsShoes").style.display = "none";
                document.getElementById('newCat').value = "NewCat";
                document.getElementById('newCat').text = "NewCat";
                document.getElementById('new').value = "New";
                document.getElementById('new').text = "New";
                toysField.style.display = "flex";
                colorForToys.style.display = "flex";
        qtyForToys.style.display = "flex";
        qtyForToys.classList.add('col', 'd-flex', 'flex-column')
                colorForToys.classList.add('col', 'd-flex', 'flex-column')
                let userEnter = prompt('Name of Category')
                document.getElementById('newCat').value = userEnter;
                document.getElementById('newCat').text = userEnter;
            }
            if(subCategory == 'New'){
                document.getElementById("adultClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("adultClothes").style.display = "none";
                document.getElementById("adultShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("adultShoes").style.display = "none";
                document.getElementById("kidsClothes").classList.remove('row', 'row-cols-6', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("kidsClothes").style.display = "none";
                document.getElementById("kidsShoes").classList.remove('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border', 'w-100', 'ms-auto', 'me-auto');
                document.getElementById("kidsShoes").style.display = "none";
                document.getElementById('newCat').value = "NewCat";
                document.getElementById('newCat').text = "NewCat";
                document.getElementById('new').value = "New";
                document.getElementById('new').text = "New";
                toysField.style.display = "none";
                colorForToys.style.display = "none";
        qtyForToys.style.display = "none";
        qtyForToys.classList.remove('col', 'd-flex', 'flex-column')
                colorForToys.classList.remove('col', 'd-flex', 'flex-column')
                let userEnter = prompt('Name of subcategory')
                document.getElementById('new').value = userEnter;
                document.getElementById('new').text = userEnter;
            }
        }


        imageNum = 2;
        function addRow() {
            cate = document.getElementById("p_cat").value;
            subCat = document.getElementById("p_subcat").value;

            
            if(cate == 'Kids'){
                if (subCat !== 'Shoes' && subCat !== 'Toys') {
                    console.log(`yooo ${imageNum}`)
                    const boxWrapper = document.getElementById("addRow");
                    const box = document.createElement("div");
                    box.classList.add('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto')
                    box.innerHTML = `<div class="mb-3 group-item d-flex flex-column">
                <label for="num_56">56</label>
                <input type="number" id="num_56" name="size${imageNum}" placeholder="velikost" value="56" readonly style="display: none;">
                <label for="#56"></label>
                <input type="number" id="#56" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_62">62</label>
                <input type="number" id="num_62" name="size${imageNum}" placeholder="velikost" value="62" readonly style="display: none;">
                <label for="#62"></label>
                <input type="number" id="#62" name="qty${imageNum}" placeholder="0" value="0" style="display: inline-flex;">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_68">68</label>
                <input type="number" id="num_68" name="size${imageNum}" placeholder="velikost" value="68" readonly style="display: none;">
                <label for="#68"></label>
                <input type="number" id="#68" name="qty${imageNum}" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_74">74</label>
                <input type="number" id="num_74" name="size${imageNum}" placeholder="velikost" value="74" readonly style="display: none;">
                <label for="#74"></label>
                <input type="number" id="#74" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_86">86</label>
                <input type="number" id="num_86" name="size${imageNum}" placeholder="velikost" value="86" readonly style="display: none;">
                <label for="#86"></label>
                <input type="number" id="#86" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_92">92</label>
                <input type="number" id="num_92" name="size${imageNum}" placeholder="velikost" value="92" readonly style="display: none;">
                <label for="#92"></label>
                <input type="number" id="#92" name="qty${imageNum}" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_104">104</label>
                <input type="number" id="num_104" name="size${imageNum}" placeholder="velikost" value="104" readonly style="display: none;">
                <label for="#104"></label>
                <input type="number" id="#104" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_104-116">104-116</label>
                <input type="text" id="num_104-116" name="size${imageNum}" placeholder="velikost" value="104-116" readonly style="display: none;">
                <label for="#104-116"></label>
                <input type="number" id="#104-116" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_110">110</label>
                <input type="number" id="num_110" name="size${imageNum}" placeholder="velikost" value="110" readonly style="display: none;">
                <label for="#110"></label>
                <input type="number" id="#110" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_116">116</label>
                <input type="number" id="num_116" name="size${imageNum}" placeholder="velikost" value="116" readonly style="display: none;">
                <label for="#116"></label>
                <input type="number" id="#116" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_128">128</label>
                <input type="number" id="num_128" name="size${imageNum}" placeholder="velikost" value="128" readonly style="display: none;">
                <label for="#128"></label>
                <input type="number" id="#128" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_134">134</label>
                <input type="number" id="num_134" name="size${imageNum}" placeholder="velikost" value="134" readonly style="display: none;">
                <label for="#134"></label>
                <input type="number" id="#134" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_140">140</label>
                <input type="number" id="num_140" name="size${imageNum}" placeholder="velikost" value="140" readonly style="display: none;">
                <label for="#140"></label>
                <input type="number" id="#140" name="qty${imageNum}" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_146">146</label>
                <input type="number" id="num_146" name="size${imageNum}" placeholder="velikost" value="146" readonly style="display: none;">
                <label for="#146"></label>
                <input type="number" id="#146" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_152">152</label>
                <input type="number" id="num_152" name="size${imageNum}" placeholder="velikost" value="152" readonly style="display: none;">
                <label for="#152"></label>
                <input type="number" id="#152" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_158">158</label>
                <input type="number" id="num_158" name="size${imageNum}" placeholder="velikost" value="158" readonly style="display: none;">
                <label for="#158"></label>
                <input type="number" id="#158" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_164">164</label>
                <input type="number" id="num_164" name="size${imageNum}" placeholder="velikost" value="164" readonly style="display: none;">
                <label for="#164"></label>
                <input type="number" id="#164" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_170">170</label>
                <input type="number" id="num_170" name="size${imageNum}" placeholder="velikost" value="170" readonly style="display: none;">
                <label for="#170"></label>
                <input type="number" id="#170" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_176">176</label>
                <input type="number" id="num_176" name="size${imageNum}" placeholder="velikost" value="176" readonly style="display: none;">
                <label for="#176"></label>
                <input type="number" id="#176" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="color">color</label>
                <input type="text" id="color" name="color[]" placeholder="Barva" value="" required>
            </div>
            <div class="col-12 mb-5">
                    <div class="input-group-sm">
                        <label for="imgField" class="form-label custom-file-label"></label>
                        <input class="form-control text-primary" type="file" id="imgField" name="image${imageNum}"
                            multiple>
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
            </div>`;
                    boxWrapper.appendChild(box);
                    imageNum += 1;

                }
                else if(subCategory == 'Shoes'){
                    const boxWrapper = document.getElementById("addRow");
                    const box = document.createElement("div");
                    box.classList.add('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto')
                    box.innerHTML = `<div class="mb-3 group-item d-flex flex-column">
                <label for="num_18">18</label>
                <input type="number" id="num_18" name="size${imageNum}" placeholder="velikost" value="18" readonly style="display: none;">
                <label for="#18"></label>
                <input type="number" id="#18" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_19">19</label>
                <input type="number" id="num_19" name="size${imageNum}" placeholder="velikost" value="19" readonly style="display: none;">
                <label for="#19"></label>
                <input type="number" id="#19" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_20">20</label>
                <input type="number" id="num_20" name="size${imageNum}" placeholder="velikost" value="20" readonly style="display: none;">
                <label for="#20"></label>
                <input type="number" id="#20" name="qty${imageNum}" placeholder="0" value="0" style="display: inline-flex;">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_21">21</label>
                <input type="number" id="num_21" name="size${imageNum}" placeholder="velikost" value="21" readonly style="display: none;">
                <label for="#21"></label>
                <input type="number" id="#21" name="qty${imageNum}" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_22">22</label>
                <input type="number" id="num_22" name="size${imageNum}" placeholder="velikost" value="22" readonly style="display: none;">
                <label for="#22"></label>
                <input type="number" id="#22" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_23">23</label>
                <input type="number" id="num_23" name="size${imageNum}" placeholder="velikost" value="23" readonly style="display: none;">
                <label for="#23"></label>
                <input type="number" id="#23" name="qty1" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_24">24</label>
                <input type="number" id="num_24" name="size${imageNum}" placeholder="velikost" value="24" readonly style="display: none;">
                <label for="#24"></label>
                <input type="number" id="#24" name="qty${imageNum}" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_25">25</label>
                <input type="number" id="num_25" name="size${imageNum}" placeholder="velikost" value="25" readonly style="display: none;">
                <label for="#25"></label>
                <input type="number" id="#25" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_26">26</label>
                <input type="text" id="num_26" name="size${imageNum}" placeholder="velikost" value="26" readonly style="display: none;">
                <label for="#26"></label>
                <input type="number" id="#26" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_27">27</label>
                <input type="number" id="num_27" name="size${imageNum}" placeholder="velikost" value="27" readonly style="display: none;">
                <label for="#27"></label>
                <input type="number" id="#27" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_28">28</label>
                <input type="number" id="num_28" name="size${imageNum}" placeholder="velikost" value="28" readonly style="display: none;">
                <label for="#28"></label>
                <input type="number" id="#28" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_29">29</label>
                <input type="number" id="num_29" name="size${imageNum}" placeholder="velikost" value="29" readonly style="display: none;">
                <label for="#29"></label>
                <input type="number" id="#29" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_30">30</label>
                <input type="number" id="num_30" name="size${imageNum}" placeholder="velikost" value="30" readonly style="display: none;">
                <label for="#30"></label>
                <input type="number" id="#30" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_31">31</label>
                <input type="number" id="num_31" name="size${imageNum}" placeholder="velikost" value="31" readonly style="display: none;">
                <label for="#31"></label>
                <input type="number" id="#31" name="qty${imageNum}" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_32">32</label>
                <input type="number" id="num_32" name="size${imageNum}" placeholder="velikost" value="32" readonly style="display: none;">
                <label for="#32"></label>
                <input type="number" id="#32" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_33">33</label>
                <input type="number" id="num_33" name="size${imageNum}" placeholder="velikost" value="33" readonly style="display: none;">
                <label for="#33"></label>
                <input type="number" id="#33" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_34">34</label>
                <input type="number" id="num_34" name="size${imageNum}" placeholder="velikost" value="34" readonly style="display: none;">
                <label for="#34"></label>
                <input type="number" id="#34" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_35">35</label>
                <input type="number" id="num_35" name="size${imageNum}" placeholder="velikost" value="35" readonly style="display: none;">
                <label for="#35"></label>
                <input type="number" id="#35" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_36">36</label>
                <input type="number" id="num_36" name="size${imageNum}" placeholder="velikost" value="36" readonly style="display: none;">
                <label for="#36"></label>
                <input type="number" id="#36" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_37">37</label>
                <input type="number" id="num_37" name="size${imageNum}" placeholder="velikost" value="37" readonly style="display: none;">
                <label for="#37"></label>
                <input type="number" id="#37" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="color">color</label>
                <input type="text" id="color" name="color[]" placeholder="Barva" value="" required>
            </div>
            <div class="col-4">
                <div class="input-group-sm">
                    <label for="imgField" class="form-label custom-file-label"></label>
                    <input class="form-control text-primary" type="file" id="imgField" name="image${imageNum}" multiple required>
                    <div class="invalid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>`
                    boxWrapper.appendChild(box);
                    imageNum += 1;     
                }else{

                }
            }
            else if(cate = 'Mens' || cate== 'Womens'){
                if(subCat !== 'Shoes' && subCat !== 'Toys'){
                    const boxWrapper = document.getElementById("addRow");
                    const box = document.createElement("div");
                    box.classList.add('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4','mb-2', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto')
                    box.innerHTML = `<div class="mb-3 group-item d-flex flex-column">
                <label for="num_xs">XS</label>
                <input type="number" id="num_xs" name="size${imageNum}" placeholder="velikost" value="XS" readonly style="display: none;">
                <label for="#xs"></label>
                <input type="number" id="#xs" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_s">S</label>
                <input type="number" id="num_s" name="size${imageNum}" placeholder="velikost" value="M" readonly style="display: none;">
                <label for="#s"></label>
                <input type="number" id="#s" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_M">M</label>
                <input type="number" id="num_M" name="size${imageNum}" placeholder="velikost" value="M" readonly style="display: none;">
                <label for="#M"></label>
                <input type="number" id="#M" name="qty${imageNum}" placeholder="0" value="0" style="display: inline-flex;">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_L">L</label>
                <input type="number" id="num_L" name="size${imageNum}" placeholder="velikost" value="L" readonly style="display: none;">
                <label for="#L"></label>
                <input type="number" id="#L" name="qty${imageNum}" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_XL">XL</label>
                <input type="number" id="num_XL" name="size${imageNum}" placeholder="velikost" value="XL" readonly style="display: none;">
                <label for="#XL"></label>
                <input type="number" id="#XL" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_2XL">2XL</label>
                <input type="number" id="num_2XL" name="size${imageNum}" placeholder="velikost" value="2XL" readonly style="display: none;">
                <label for="#2XL"></label>
                <input type="number" id="#2XL" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_3XL">3XL</label>
                <input type="number" id="num_3XL" name="size${imageNum}" placeholder="velikost" value="3XL" readonly style="display: none;">
                <label for="#3XL"></label>
                <input type="number" id="#3XL" name="qty${imageNum}" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_4XL">4XL</label>
                <input type="number" id="num_4XL" name="size${imageNum}" placeholder="velikost" value="4XL" readonly style="display: none;">
                <label for="#4XL"></label>
                <input type="number" id="#4XL" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_5XL">5XL</label>
                <input type="text" id="num_5XL" name="size${imageNum}" placeholder="velikost" value="5XL" readonly style="display: none;">
                <label for="#5XL"></label>
                <input type="number" id="#5XL" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="color">color</label>
                <input type="text" id="color" name="color[]" placeholder="Barva" value="">
            </div>
            <div class="col-7 mb-2">
                <div class="input-group-sm">
                    <label for="formFileMultiple" class="form-label custom-file-label"></label>
                    <input class="form-control text-primary" type="file" id="formFileMultiple" name="image${imageNum}" multiple required>
                    <div class="invalid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>`
                    boxWrapper.appendChild(box);
                    imageNum += 1;        
                }else if(subCat == 'Shoes'){
                    const boxWrapper = document.getElementById("addRow");
                    const box = document.createElement("div");
                    box.classList.add('row', 'row-cols-5', 'd-flex', 'flex-wrap', 'mt-4', 'text-center', 'border-2', 'border-dark', 'shadow' ,'w-100', 'ms-auto', 'me-auto')
                    box.innerHTML = `<div class="mb-3 group-item d-flex flex-column">
                <label for="num_38">38</label>
                <input type="number" id="num_38" name="size${imageNum}" placeholder="velikost" value="38" readonly style="display: none;">
                <label for="#38"></label>
                <input type="number" id="#38" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_39">39</label>
                <input type="number" id="num_39" name="size${imageNum}" placeholder="velikost" value="39" readonly style="display: none;">
                <label for="#39"></label>
                <input type="number" id="#39" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_40">40</label>
                <input type="number" id="num_40" name="size${imageNum}" placeholder="velikost" value="40" readonly style="display: none;">
                <label for="#40"></label>
                <input type="number" id="#40" name="qty${imageNum}" placeholder="0" value="0" style="display: inline-flex;">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_41">41</label>
                <input type="number" id="num_41" name="size${imageNum}" placeholder="velikost" value="41" readonly style="display: none;">
                <label for="#41"></label>
                <input type="number" id="#41" name="qty${imageNum}" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_42">42</label>
                <input type="number" id="num_42" name="size${imageNum}" placeholder="velikost" value="42" readonly style="display: none;">
                <label for="#42"></label>
                <input type="number" id="#42" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_43">43</label>
                <input type="number" id="num_43" name="size${imageNum}" placeholder="velikost" value="43" readonly style="display: none;">
                <label for="#43"></label>
                <input type="number" id="#43" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_44">44</label>
                <input type="number" id="num_44" name="size${imageNum}" placeholder="velikost" value="44" readonly style="display: none;">
                <label for="#44"></label>
                <input type="number" id="#44" name="qty${imageNum}" placeholder="0" value="0">
            </div>

            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_45">45</label>
                <input type="number" id="num_45" name="size${imageNum}" placeholder="velikost" value="45" readonly style="display: none;">
                <label for="#45"></label>
                <input type="number" id="#45" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="num_46">46</label>
                <input type="text" id="num_46" name="size${imageNum}" placeholder="velikost" value="46" readonly style="display: none;">
                <label for="#46"></label>
                <input type="number" id="#46" name="qty${imageNum}" placeholder="0" value="0">
            </div>
            <div class="mb-3 group-item d-flex flex-column">
                <label for="color">color</label>
                <input type="text" id="color" name="color[]" placeholder="Barva" required>
            </div>
            <div class="col-7">
                <div class="input-group-sm">
                    <label for="formFileMultiple" class="form-label custom-file-label"></label>
                    <input class="form-control text-primary" type="file" id="formFileMultiple" name="image${imageNum}" multiple required>
                    <div class="invalid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>`
                    boxWrapper.appendChild(box);
                    imageNum += 1;         
                }else{

                }
            }

        }


    </script>