<% layout('layouts/boilerplate') %>
    <title> Yasemin-Shop</title>

    <div class="row">
        <div class="col-4 mt-5">
            <div class="card">
                <div class="card-header">
                    <img src="" alt="Here goes product img">
                </div>
                <div id="body" class="card-body">
                    <h3>PRICE: 25.99 €</h3>

                </div>
                <div class="card-footer">
                    <p>Here go some info</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="card">
                <div class="card-header">
                    <img src="" alt="Here goes product img">
                </div>
                <div id="body" class="card-body">
                    <h3>PRICE: 25.99 €</h3>

                </div>
                <div class="card-footer">
                    <p>Here go some info</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="card">
                <div class="card-header">
                    <img src="" alt="Here goes product img">
                </div>
                <div id="body" class="card-body">
                    <h3>PRICE: 25.99 €</h3>

                </div>
                <div class="card-footer">
                    <p>Here go some info</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </div>
            </div>
        </div>
    </div>