<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <div id="container" class="container">
        <%# include('../../flash') %>
        <% for(data of orderData) {%>
            <%= data %>
            <% } %>
    </div>

    <h1>Successfully payed</h1>
    

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async() =>{
            const {publishableKey} = await fetch('/config').then((r) => r.json())
            
            const stripe = Stripe(publishableKey);

            //const clientSecret = new URLSearchParams(window.location.search).get('redirect_status');
            const clientSecret = new URLSearchParams(window.location.search).get('payment_intent_client_secret');
            
            
            stripe.retrievePaymentIntent(clientSecret)
            .then(function(result){
                if(result.paymentIntent){
                    let info = result.paymentIntent;
                    console.log("This is info after redirect: ", info)
                    const paymentIntentPre = document.getElementById('container')
                    paymentIntentPre.innerHTML = JSON.stringify(info.status);
                }else{
                    console.log("Error: " ,result.error)
                    
                    
                }
            })
            
            
            
        })  
        
    </script>
</body>
</html>