<% layout('layouts/boilerplate') %>


<div class="row row-cols-2">

    <div class="col">

    </div>
    <div class="col">

        <form id="order-elements" action="/order" method="post">
            <div class="row">
                <div class="col">
                    <div id="link-authentication-element">
                        <!-- Elements will create authentication element here -->
                      </div>
                      <div id="payment-element">
                        <!-- Elements will create form elements here -->
                      </div>
                      <div id="address-element">
                
                      </div>
                      <button id="submit">Pay now</button>
                </div>
            </div>
        </form>
    </div>
</div>




<script>

    document.addEventListener("DOMContentLoaded", async()=>{

        const {publishableKey} = await fetch('/getPk').then((r) => r.json());
  if (!publishableKey) {
    console.log('invalid publishable key')
  }

  const stripe = Stripe(publishableKey, {
    apiVersion: '2020-08-27',
  });

  const {
    error: backendError,
    clientSecret
  } = await fetch('/placeOrder').then(r => r.json());
  if (backendError) {
    console.log(backendError);
  }
  console.log(`Client secret returned.`);
        
        let elements = stripe.elements({clientSecret: `${s_sk}`});

        let authElement = elements.create('linkAuthentication');
        authElement.mount("#link-authentication-element")





    });


</script>