<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/css/company.css">

    <div class="card mb-3 ms-auto me-auto mt-5">
        <div class="row g-0">
      <div class="col-md-5 p-0">
        <img id="companyImg" src="..." class="img-fluid rounded-start" alt="Logo">
      </div>
      <div class="col-md-7 p-0">
        <div class="card-body">
          <h5 class="card-title">Naslov in Sedež Podjetja:</h5>
          <p class="card-text text-start">
            <ul>
                <li>Podjetje XYZ d.o.o.</li>
                <li>Ulica Primorska 123</li>
                <li>1000 Ljubljana, Slovenija</li>
            </ul></p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div>
        </div>
    </div>

    <div class="card mb-3 ms-auto me-auto mt-5">
        <div class="row g-0">
      <div class="col-md-5 p-0">
        <img id="companyImg" src="..." class="img-fluid rounded-start" alt="Logo">
      </div>
      <div class="col-md-7 p-0">
        <div class="card-body">
          <h5 class="card-title">Podatki o Registraciji:</h5>
          <p class="card-text text-start">
            <ul>
                <li>Matična številka: 12345678</li>
                <li>Davčna številka: SI12345679</li>
                <li>Registrirano pri: Okrožno sodišče Ljubljana</li>
            </ul></p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div>
        </div>
    </div>

    <div class="card mb-3 ms-auto me-auto mt-5">
        <div class="row g-0">
      <div class="col-md-5 p-0">
        <img id="companyImg" src="..." class="img-fluid rounded-start" alt="Logo">
      </div>
      <div class="col-md-7 p-0">
        <div class="card-body">
          <h5 class="card-title">Kontaktni Podatki:</h5>
          <p class="card-text text-start">
            <ul>
                <li>info@xyz.si</li>
                <li>+386 01 234 567</li>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul></p>
          <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
      </div>
        </div>
    </div>

