<% layout('layouts/boilerplate.ejs') %>


<div class="delivery row">
    <div class="row mt-5 shadow p-3">
        <h1>Dostava</h1>
        <p>Pogodbeni partner za dostavo pošiljk je Pošta Slovenije. Pridržujemo si pravico do spremembe pogodbenega partnerja za dostavo pošiljk.</p>
    </div>
    <div class="row mt-3 p-3 shadow">
        <h2>Dobavni rok</h2>
        <p>Za izdelke na zalogi je dobava blaga 2-5 delovnih dni, navadno pa so ti izdelki odposlani še isti dan in dostavljeni naslednji delovni dan.</p>
        <strong>Pozor! V času znižanj in praznikov prejmemo večje število naročil in rok dobave se zato lahko podaljša.</strong>
    </div>
    <div class="row mt-3 p-3 shadow">
        <h2>Vračila</h2>
        <p>Če izdelki niso takšni, kot ste pričakovali, jih lahko vrnete v roku 30 dni od dobave. Vrnjenih izdelkov ne smete poškodovati ali obrabiti. Izdelki morajo imeti vse originalne etikete. Zraven izdelkov je treba tudi račun poslat.</p>
        <strong>Pozor! Stroške vračila blaga nosite sami. Preporočamo pošiljanje paketov 'preporočeno' zaradi sledilne številke kajti v primeru izgube paketa od strane kurirja ne odgovarjamo in vračilo ni možno! Vračilo spodnjega perila ni možno!</strong>
    </div>
    <div class="row mt-3 p-3 shadow">
        <h2>Zamenjava</h2>
        <p>Prosimo, priložite račun in opis razloga reklamacije, kar bo pospešilo postopek obravnave. Reklamacijo bomo obravnali in vam odgovor posredovali v 14 delovnih dneh. V primeru odobritve reklamacije vam bomo, skladno z ustaljenimi postopki, kupnino povrnili na vaš račun ali pa poslali novi izdelek.</p>
    </div>
</div>