<% layout('layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="css/privacy.css">
<div class="pogoji mt-5">
    <h1>Pogoji Uporabe in Politika Zasebnosti:</h1>
    <div class="row g-0 mb-3 mt-5 shadow p-3">
        <h3 class="mb-3">Pogoji Uporabe:</h3>

        <p>Dobrodošli na spletnem mestu podjetja XYZ d.o.o. Z dostopom in uporabo tega spletnega mesta soglašate s spodaj navedenimi pogoji uporabe. Če se ne strinjate s temi pogoji, vas prosimo, da ne uporabljate našega spletnega mesta.</p>
    </div>
    <div class="row g-0 mb-3 shadow p-3">
        <h3 class="mb-2">Politika Zasebnosti:</h3>

        <p>Vaša zasebnost nam je pomembna. Naša politika zasebnosti opisuje, kako zbiramo, uporabljamo in varujemo vaše osebne podatke med vašim obiskom našega spletnega mesta. Prosimo, preberite našo celotno politiko zasebnosti, da boste razumeli, kako ravnamo z vašimi podatki.        </p>
        
        <h4 class="mt-3 mb-2">Zbiranje Osebnih Podatkov</h4>
        <p>Zbiramo različne vrste osebnih podatkov, vključno z:</p>
        <ul>
            <li>Ime</li>
            <li>Naslov</li>
            <li>E-poštni naslov</li>
            <li>Telefonska številka</li>
            <li>Podatki o plačilu</li>
        </ul>

        <h4 class="mt-3 mb-3">Uporaba osebnih podatkov</h4>
        <p>Vaše osebne podatke uporabljamo za:</p>
        <ul>
            <li>Izpolnjevanje naročil in dostavo izdelkov</li>
            <li>Zagotavljanje storitev in podpore strankam</li>
            <li>Personalizacijo uporabniške izkušnje</li>
            <li>Obveščanje o promocijah, novicah in posebnih ponudbah</li>
        </ul>

        <h4 class="mt-3 mb-3">Deljenje osebnih podatkov</h4>
        <p>Vaših osebnih podatkov ne prodajamo, ne trgujemo z njimi in jih ne delimo s tretjimi osebami, razen če je to potrebno za izvedbo storitve, ki ste jo zahtevali.</p>
        
        <h4 class="mt-3 mb-3">Varnost podatkov</h4>
        <p>Vaše osebne podatke varujemo pred nepooblaščenim dostopom, uporabo ali razkritjem s primernimi varnostnimi ukrepi.</p>
        
        <h4 class="mt-3 mb-3">Varnost podatkov</h4>
        <p>Imate pravico do vpogleda v vaše osebne podatke, ki jih hranimo, in do njihovega popravka. Če želite uveljaviti to pravico, nas kontaktirajte na <a href="#">email@gmail.com</a>.</p>
    </div>
    <div class="row g-0 mb-3 shadow p-3">
        <h3 class="mb-2">Pravice Potrošnikov:</h3>
        <p>V skladu s slovensko zakonodajo imajo naši kupci številne pravice. To vključuje pravico do vračila izdelkov v določenem roku, pravico do pritožbe v primeru nezadovoljstva, in druge potrošniške pravice, kot jih določa zakon. Za več informacij o vaših pravicah se obrnite na našo podporo strankam.        </p>
        
        <h4 class="mt-3 mb-3">Pravica do Povračila</h4>
        <p>Potrošniki imajo pravico do povračila kupnine v določenem roku po nakupu izdelkov ali storitev. Pogoji za vračilo so podrobneje opisani v naših pogojih poslovanja.</p>
        
        <h4 class="mt-3 mb-3">Pravica do Pritožbe</h4>
        <p>V primeru nezadovoljstva z našimi izdelki ali storitvami imate pravico do vložitve pritožbe. Pritožbo lahko naslovite na našo podporo strankam.</p>
        
        <h4 class="mt-3 mb-3">Pravica do Povračila Denarja</h4>
        <p>Če je izdelek ali storitev neustrezen, imate pravico do povračila denarja. Zahtevke za povračilo obravnavamo v skladu s slovensko zakonodajo.</p>
    </div>
    <div class="row g-0 mb-3 shadow p-3">
        <h3 class="mb-2">Povezava do Platforme za Spletno Reševanje Sporov:</h3>

        <p>V primeru sporov v zvezi z našimi storitvami vam ponujamo možnost uporabe platforme za spletno reševanje sporov. Povezavo do te platforme najdete <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=SL" target="_blank">tukaj</a>. Platforma za spletno reševanje sporov je neodvisna organizacija, ki je namenjena reševanju sporov na spletu brez sodnih postopkov.</p>
    </div>
</div>