<% layout('layouts/boilerplate.ejs') %>

<div class="questions mt-5">
    <details class="row mt-5 p-3 shadow">
        <summary><h2 class="d-inline-flex">Cene in Plačilni Pogoji:</h2></summary>
        <ul class="ms-4">
            <li>Cene izdelkov: Vse cene so navedene v evrih (EUR).</li>
            <li>Načini plačila: Sprejemamo plačila prek kreditnih kartic in storitev kot je PayPal.</li>
            <li>Stroški dostave: Dostava je brezplačna.</li>
            <li>Roki plačila: Plačilo je treba izvršiti pri oddaji naročila sicer oddaja naročila prez plačila ni možna.</li>
        </ul>
    </details>
    <details class="row mt-3 p-3 shadow">
        <summary><h2 class="d-inline-flex">Kako opraviti nakup?</h2></summary>
        <p class="mt-3">Nakup v naši online trgovini je enostaven in hiter. 
            Ko se odločite za izdelek, ga dodajte v košarico in nato nadaljujte s plačilom, pri čemer boste vnesli podatke o dostavi in potrdili nakup.</p>
    </details>
    <details class="row mt-3 p-3 shadow">
       <summary><h2 class="d-inline-flex">Ali je za naročanje potrebna prijava?</h2></summary>
        <p class="mt-3">Ne. Nakup lahko opravite brez prijave na spletno mesto.</p>
    </details>
    
    <details class="row mt-3 p-3 shadow">
        <summary><h2 class="d-inline-flex">Kdo dostavi paket?</h2></summary>
        <p class="mt-3">Paket je dostavljen prek kurirske službe. Pridržujemo si pravico do spremembe pogodbenega partnerja za dostavo pošiljk.</p>
    </details>

    <details class="row mt-3 p-3 shadow">
        <summary><h2 class="d-inline-flex">Kako hitro pošljete paket?</h2></summary>
        <p class="mt-3">Od trenutka, ko opravite nakup, se paket izroči kurirju v enem delovnem dnevu, dostavo na svoj naslov pa lahko pričakujete najkasneje v petih dneh po odpremi blaga.</p>
    </details>

    <details class="row mt-3 p-3 shadow">
        <summary><h2 class="d-inline-flex">Kako se izvede plačilo?</h2></summary>
        <p class="mt-3">Plačilo lahko opravite prek PayPala ali kreditnih kartic. Po potrditvi košarice boste preusmereni do strani na kateri je potrebno izpolniti podatke za dostavo in plačilo.</p>
    </details>

    <details class="row mt-3 p-3 shadow">
        <summary><h2 class="d-inline-flex">Ali je izdelke mogoče osebno prevzeti?</h2></summary>
        <p class="mt-3">Izdelek je mogoče osebno prevzeti ampak nakup je možen samo prek online trgovine. Po opravljenem plačilu boste dobili številko naročila katero nam lahko posredujete na e-pošto
            za podporo. V sporočilu še napišite ime in priimek in vas bo naš tim stopil v stik ko bo naročilo pripravljeno za prevzem.
        </p>
    </details>

    <details class="row mt-3 p-3 shadow">
        <summary><h2 class="d-inline-flex">Varnost podatkov</h2></summary>
        <p class="mt-3">Nakupovanje na naši strani je izjemno varno. Za zaščito podatkov o strankah uporabljamo najnaprednejše metode šifriranja in druge varnostne protokole.
            Vaši podatki so zaščiteni in jih ne bomo delili s tretjimi osebami. Vaše osebne podatke bomo uporabili izključno za namene naročila, pa tudi za pošiljanje določenih informativnih gradiv.</p>
    </details>

    <details class="row mt-3 p-3 shadow">
        <summary><h2 class="d-inline-flex">Kako lahko izdelek vrnem?</h2></summary>
        <p class="mt-3">Kupec mora prodajalca pisno obvestiti o nameri, da odstopi od nakupa, in sicer najkasneje do roka, navedenega na strani, na kateri je izdelek kupil.</p>
    </details>

    <details class="row mt-3 p-3 shadow">
        <summary><h2 class="d-inline-flex">Izdelek sem naročil, vendar še ni dostavljen, na koga naj se obrnem?</h2></summary>
        <p class="mt-3">Če je predviden čas dostave potekel in še niste prejeli paketa, nam pošljite povpraševanje na email naslov za podporo strankam, ki se nahaja na dnu spletne strani.</p>
    </details>
</div>
